{% extends "os/base.html" %}

{% block content %}

<div class="nav">
        <div class="element_l">
            <img class="e_img" src="/media/img/hud.svg">
        </div>

        {% if request.user.is_staff %}
        <a class="a_gprs" href="{% url 'admin:index' %}" ><h1 class="gprs">GPRS</h1></a>
        {% else %}
        <a class="a_gprs" href="{% url 'admin:index' %}" ><h1 class="gprs">GPRS</h1></a>
        {% endif %}

        <div class="element_r">
            <img class="e_img1" src="/media/img/battery.svg">
        </div>
    </div>

    <div class="cont">

        <img class="eart" src="/media/{{ screensaver }}">

        <h1 id="date" class="date">{{ date }}</h1>

        <h1 id="time" class="time">{{ current_time }}</h1>
    </div>

    <div class="nav">
        <div class="element_l">

            <img class="e_img_d" src="/media/img/hud2.svg">
        </div>

            <img class="e_img_c" src="/media/img/hud4.svg">

        <div class="element_r">
                <img class="e_img_d" src="/media/img/hud3.svg">

        </div>
    </div>

{% load static %}
<script src="{% static 'os/js/script_index.js' %}"></script>

{% endblock %}