{% extends "os/base.html" %}

{% block content %}

<div class="nav">
        <div class="element_l">
            <img class="e_img" src="/media/img/hud.svg">
        </div>

        <h1 class="gprs">GPRS</h1>

        <div class="element_r">
            <img class="e_img1" src="/media/img/battery.svg">
        </div>
    </div>

    <div class="cont">
        <img id="select" class="select_img" src="/media/img/select.svg">
    </div>

    <div class="nav">
        <div class="element_l">
        <a href="{% url 'menu' %}">
            <img class="e_img_d" src="/media/img/zero.svg">
        </a>
        </div>

        <a id="fullscreenButton" class="fullscreen-button" onclick="toggleFullScreen()">
            <img class="e_img_c" src="/media/img/hud4.svg">
        </a>

        <div class="element_r">
            <a onclick="select_link()">
                <img class="e_img_d" src="/media/img/select0.svg">
            </a>

        </div>
</div>


{% endblock %}