<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Natiskun OS</title>
    {% load static %}
    <link href="{% static 'os/css/style_balloon.css' %}" rel="stylesheet">
    <link rel="icon" href="/media/ico.png" type="image/x-icon">
    <style>
        @font-face {
            font-family: 'siemens_A';
            src: url('{% static 'os/fonts/siemens_A.ttf' %}') format('truetype');
        }

        @font-face {
            font-family: 'siemens_B';
            src: url('{% static 'os/fonts/siemens_B.ttf' %}') format('truetype');
        }

    </style>
</head>
<body>
<div id="content" class="content">
<!--    <img class="e_img" src="/media/img/hud.svg">-->

</div>

<div class="control">

    <button class="left_select"
    ontouchstart="left_select(event)"
    onmousedown="left_select(event)">
    </button>

    <button class="right_select"
    ontouchstart="right_select(event)"
    onmousedown="right_select(event)">
    </button>



    <button class="up_control"
    ontouchstart="upMouseDown(event)" ontouchend="upMouseUp()"
    onmousedown="upMouseDown(event)" onmouseup="upMouseUp()">
    </button>


    <button class="down_control"
    ontouchstart="downMouseDown(event)" ontouchend="downMouseUp()"
    onmousedown="downMouseDown(event)" onmouseup="downMouseUp()">
    </button>


    <button class="center_control"
    ontouchstart="center(event)"
    onmousedown="center(event)">
    </button>


    <button class="left_control"
    ontouchstart="leftMouseDown(event)" ontouchend="leftMouseUp()"
    onmousedown="leftMouseDown(event)" onmouseup="leftMouseUp()">
    </button>


    <button class="right_control"
    ontouchstart="rightMouseDown(event)" ontouchend="rightMouseUp()"
    onmousedown="rightMouseDown(event)" onmouseup="rightMouseUp()">
    </button>

</div>

</body>

<script src="{% static 'os/js/script_game_balloon.js' %}"></script>

</html>
