<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Natiskun OS</title>
    {% load static %}
    <link href="{% static 'os/css/style_balloon.css' %}" rel="stylesheet">
    <link rel="icon" href="/media/ico.png" type="image/x-icon">
    <style>
        @font-face {
            font-family: 'siemens_A';
            src: url('{% static 'os/fonts/siemens_A.ttf' %}') format('truetype');
        }

        @font-face {
            font-family: 'siemens_B';
            src: url('{% static 'os/fonts/siemens_B.ttf' %}') format('truetype');
        }

    </style>
</head>
<body>
<div id="content" class="content">
    {% csrf_token %}
<!--    <img class="e_img" src="/media/img/hud.svg">-->

</div>

<div id="control" class="control">



</div>

</body>

<script src="{% static 'os/js/zakod/script_game_balloon.js' %}"></script>

</html>
