<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Natiskun OS</title>
    {% load static %}
    <link href="{% static 'os/css/style_balloon.css' %}" rel="stylesheet">
    <link rel="icon" href="/media/ico.png" type="image/x-icon">
    <style>
        @font-face {
            font-family: 'siemens_A';
            src: url('{% static 'os/fonts/siemens_A.ttf' %}') format('truetype');
        }

        @font-face {
            font-family: 'siemens_B';
            src: url('{% static 'os/fonts/siemens_B.ttf' %}') format('truetype');
        }

    </style>
</head>
<body>
<div id="content" class="content">
<!--    <img class="e_img" src="/media/img/hud.svg">-->

</div>

<div id="control" class="control">

</div>

</body>

<script>

    function add_control(){
    var control = document.getElementById('control');

    var lS = document.createElement('button');
    lS.className = 'left_select';
    lS.id = 'l_s';
    lS.setAttribute('onmousedown', 'left_select(event)');
    lS.setAttribute('onmouseup', 'left_select_up(event)');

    var lImg = document.createElement('img');
    lImg.className = 'e_img1';
    lImg.src = '/media/img/sel.svg';
    lS.appendChild(lImg);

    var rS = document.createElement('button');
    rS.className = 'right_select';
    rS.id = 'r_s';
    rS.setAttribute('onmousedown', 'right_select(event)');
    rS.setAttribute('onmouseup', 'right_select_up()');

    var rImg = document.createElement('img');
    rImg.className = 'e_img1';
    rImg.src = '/media/img/sel.svg';
    rS.appendChild(rImg);


    var uC = document.createElement('button');
    uC.className = 'up_control';
    uC.id = 'u_C';
    uC.setAttribute('onmousedown', 'upMouseDown(event)');
    uC.setAttribute('onmouseup', 'upMouseUp()');

    var uImg = document.createElement('img');
    uImg.className = 'img_up';
    uImg.src = '/media/img/up.svg';
    uC.appendChild(uImg);


    var dC = document.createElement('button');
    dC.className = 'down_control';
    dC.id = 'd_C';
    dC.setAttribute('onmousedown', 'downMouseDown(event)');
    dC.setAttribute('onmouseup', 'downMouseUp()');

    var dImg = document.createElement('img');
    dImg.className = 'img_down';
    dImg.src = '/media/img/up.svg';
    dC.appendChild(dImg);


    var cC = document.createElement('button');
    cC.className = 'center_control';
    cC.id = 'c_C';
    cC.setAttribute('onmousedown', 'center(event)');
    cC.setAttribute('onmouseup', 'center_up()');

    var cImg = document.createElement('img');
    cImg.className = 'img_center';
    cImg.src = '/media/img/center.svg';
    cC.appendChild(cImg);


    var lC = document.createElement('button');
    lC.className = 'left_control';
    lC.id = 'l_C';
    lC.setAttribute('onmousedown', 'leftMouseDown(event)');
    lC.setAttribute('onmouseup', 'leftMouseUp()');

    var lCImg = document.createElement('img');
    lCImg.className = 'img_left';
    lCImg.src = '/media/img/up.svg';
    lC.appendChild(lCImg);


    var rC = document.createElement('button');
    rC.className = 'right_control';
    rC.id = 'r_C';
    rC.setAttribute('onmousedown', 'rightMouseDown(event)');
    rC.setAttribute('onmouseup', 'rightMouseUp()');

    var rCImg = document.createElement('img');
    rCImg.className = 'img_right';
    rCImg.src = '/media/img/up.svg';
    rC.appendChild(rCImg);


    var userAgent = navigator.userAgent;

    if (/Android/i.test(userAgent)) {
        console.log("Android");

        lS.setAttribute('ontouchstart', 'left_select(event)');
        lS.setAttribute('ontouchend', 'left_select_up()');

        rS.setAttribute('ontouchstart', 'right_select(event)');
        rS.setAttribute('ontouchend', 'right_select_up()');

        uC.setAttribute('ontouchstart', 'upMouseDown(event)');
        uC.setAttribute('ontouchend', 'center_up()');

        dC.setAttribute('ontouchstart', 'downMouseDown(event)');
        dC.setAttribute('ontouchend', 'downMouseUp()');

        cC.setAttribute('ontouchstart', 'center(event)');
        cC.setAttribute('ontouchend', 'downMouseUp()');

        lC.setAttribute('ontouchstart', 'leftMouseDown(event)');
        lC.setAttribute('ontouchend', 'leftMouseUp()');

        rC.setAttribute('ontouchstart', 'rightMouseDown(event)');
        rC.setAttribute('ontouchend', 'rightMouseUp()');
    }


    control.appendChild(lS);
    control.appendChild(rS);
    control.appendChild(uC);
    control.appendChild(dC);
    control.appendChild(cC);
    control.appendChild(lC);
    control.appendChild(rC);

}

add_control()

</script>

<script src="{% static 'os/js/script_game_balloon.js' %}"></script>

</html>
