<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Natiskun OS</title>
    {% load static %}
    <link href="{% static 'os/css/style_snake.css' %}" rel="stylesheet">
    <link rel="icon" href="/media/ico.png" type="image/x-icon">
    <style>
        @font-face {
            font-family: 'siemens_A';
            src: url('{% static 'os/fonts/siemens_A.ttf' %}') format('truetype');
        }

        @font-face {
            font-family: 'siemens_B';
            src: url('{% static 'os/fonts/siemens_B.ttf' %}') format('truetype');
        }

    </style>
</head>
<body>
<div id="content" class="content">
    {% csrf_token %}
<!--    <img class="e_img" src="/media/img/hud.svg">-->

</div>

<div id="control" class="control">

    <button id="l_s" class="left_select"
    ontouchstart="left_select(event)" ontouchend="left_select_up()"
    onmousedown="left_select(event)" onmouseup="left_select_up()">
        <img class="e_img1" src="/media/img/sel.svg">
    </button>


    <button id="r_s" class="right_select"
    ontouchstart="right_select(event)" ontouchend="right_select_up()"
    onmousedown="right_select(event)" onmouseup="right_select_up()">
        <img class="e_img1" src="/media/img/sel.svg">
    </button>


    <button id="u_C" class="up_control"
    ontouchstart="upMouseDown(event)" ontouchend="upMouseUp()"
    onmousedown="upMouseDown(event)" onmouseup="upMouseUp()">
        <img class="img_up" src="/media/img/up.svg">
    </button>


    <button id="d_C" class="down_control"
    ontouchstart="downMouseDown(event)" ontouchend="downMouseUp()"
    onmousedown="downMouseDown(event)" onmouseup="downMouseUp()">
        <img class="img_down" src="/media/img/up.svg">
    </button>

    <button id="l_C" class="left_control"
    ontouchstart="leftMouseDown(event)" ontouchend="leftMouseUp()"
    onmousedown="leftMouseDown(event)" onmouseup="leftMouseUp()">
        <img class="img_left" src="/media/img/up.svg">
    </button>

    <button id="r_C" class="right_control"
        ontouchstart="rightMouseDown(event)" ontouchend="rightMouseUp()"
        onmousedown="rightMouseDown(event)" onmouseup="rightMouseUp()">
            <img class="img_right" src="/media/img/up.svg">
    </button>


    <button id="c_C" class="center_control"
    ontouchstart="center(event)" ontouchend="center_up()"
    onmousedown="center(event)" onmouseup="center_up()">
        <img class="img_center" src="/media/img/center.svg">
    </button>



</div>

</body>

<script src="{% static 'os/js/script_game_snake.js' %}"></script>

</html>
